<ion-view view-title="{{'quiz'|translate}}">
	<ion-content class="padding">

		<span ng-show="descr_visible=='true'">{{quiz.descr}}</span>
		<div ng-show="question.indication" style='color:green'>{{quiz.indication}}</div>

		<span ng-show="toggleObject[[$index]]>0" ng-repeat="question in quiz.questions" class="item mtn-nowrap">
			<div class='qheader' align="center">
				<img ng-src="resources/images/{{question.image}}" height='80px' />
				<br/>
				<div>{{question.descr}}</div>
				<div ng-show="question.indication" style='color:green'>{{question.indication}}</div>
			</div>
			<br/>
			
			<div class='qselections'>
				<span ng-repeat="reponse in question.reponses">
					<input type='checkbox' value='a'>
					<span id='q1r1'>{{reponse.descr}}</span>
					<br/>
				</span>
				<button class="button button-block button-positive icon-right ion-chevron-right" ng-click="onSearchSubmit($index)">Question suivante.</button>
			</div>
		</span>
		
		<span ng-show="resultats_visible=='true'">
			<div>Résultats<div/>
			<span ng-repeat="question in quiz.questions" class="item mtn-nowrap">
				<div ng-repeat="reponse in question.reponses">
					<span ng-show="reponse.points>0" style="color:green">{{reponse.descr}}</span>
					<span ng-show="reponse.points=0" style="color:black">{{reponse.descr}}</span>
				</div>
				<div>{{question.descr}}</div>
				<div style='font-weight: bold;' ng-show="resultats_visible=='true'">{{question.explication}}</div>
			</span>
			<div id='qres1'>
				<img src='resources/images/quiz/1.png' height='80px' />
			</div>
		</span>
	</ion-content>
</ion-view>
		