<ion-view view-title="{{'nom_translated'|translate:dechet}}">
  <ion-content>
   

  <div class="list card">

    <div class="item item-avatar">
        <img ng-src="resources/images/{{ dechet.image }}">
        <h2>{{'nom_translated'|translate:dechet}}</h2>
    </div>

    <div class="item item-text-wrap">
      {{'recyclable'|translate}} : <font color='{{dechet.recyc_color}}'><b>{{dechet.recyc2|translate}}</b></font> 
      <mtn-etat-recyclable etat="{{dechet.recyc}}"></mtn-etat-recyclable>
    </div>

  <p><b>{{'concerne_aussi'|translate}}</b> : {{'descr_translated'|translate:dechet}}</p>
  
    {{'modes_de_collecte'|translate}} :
      <a class="item item-avatar" ng-repeat="modeDeCollecte in modesDeCollecte">
        <img ng-src="resources/images/{{::modeDeCollecte.image}}"/>
        {{'nom_translated'|translate:modeDeCollecte}}
      </a>


    <div class="item item-icon-left" ng-repeat="conseil in conseils">
      <i class="icon ion-information-circled"></i>
      <span class="item item-text-wrap">{{'nom_translated'|translate:conseil}}</span>
			<div class="item item-stable item-icon-left item-body item-text-wrap">
				<span ng-bind-html="conseil.descr"></span>
				<span ng-show="false">{{'descr_translated'|translate:conseil}}</span>
			</div>
    </div>

     <a class="item item-icon-left item-calm" ng-click="notimplemented = 'TODO'" ng-show="false">
      <i class="icon ion-compose"></i>
      Votre avis {{notimplemented}}
    </a>

  </div>

  <div class="row" ng-show="dechet.src!=null">
    <div class="col">Source : <i>{{dechet.src}}</i></div>
  </div>

    <div class="row" ng-show="dechet.sponsor!=null">
      <div class="col">Cette ressource est parrainée par le donateur KissKissBankBank : <i>{{dechet.sponsor}}</i></div>
    </div>

<!--
  <div>    
      <a class="item item-thumbnail-left" href="#">
      <img ng-src="resources/images/{{ dechet.image }}">
      <h2><b>{{'nom_translated'|translate:dechet}}</b></h2><br/>
      Recyclable : <font color='{{dechet.recyc_color}}'><b>{{dechet.recyc}}</b></font>
      </a>

      <p><b>{{'modes_de_collecte'|translate}}</b></p>     
      <div class="mode-collecte" ng-repeat="modeCollecte in modesCollecte" ng-click="toggleObject.item = $index">
          <img style="width:1.5em" ng-src="resources/images/{{ modeCollecte.image }}"/> {{ modeCollecte.nom }}<br/>
          <div class="description" ng-show="toggleObject.item == $index" class="mode-collecte-info">            
              <p ng-bind-html="modeCollecte.descr"></p>
          </div>
      </div>
        
	<p><b>Conseils </b></p>
    <div class="conseil" ng-repeat="conseil in conseils" ng-click="toggleObject2.item2 = $index">
    	{{ conseil.nom }}<br/>
          <div class="description" class="conseil-info">
              <p ng-bind-html="conseil.descr"></p>
          </div>
          <a ng-if="conseil.fiche" ng-href="#/tab/fiches/detail/{{::conseil.fiche}}" class="selectable style_bouton">Plus d'infos</a>
      </div>
      
    
       
      <p><b>Source :</b> {{dechet.src}}</p>
        
  </div>

  -->
      
  </ion-content>
</ion-view>
