<ion-view view-title="{{::structure.nom}}">
  <ion-content>
   
  <div class="list card">

    <div class="item item-divider item-calm">
      	 {{::structure.nom}}
    </div>

	<div ng-show="structure.logo!=null"><img ng-src="{{structure.logo }}" style="max-width:150px;"></div>
		
    <div class="item item-icon-left">
        <i class="icon ion-information-circled"></i>
      	<div>{{structure.type}}</div>   
      	<mtn-plage-horaire class="horaire" horaire="{{::structure.plagesHoraires}}" fulldisplay="1"></mtn-plage-horaire> 
    </div>

	<span>
        <p ng-bind-html="structure.descr"></p>
				<span ng-show="structure.objets_recuperes"><b>{{'objets_recuperes'|translate:translatevalues}} : {{structure.objets_recuperes}}</b></span>
  </div>

 	<div class="item item-icon-left item-text-wrap" ng-show="structure.adresseTemp">
      	<i class="icon ion-home"></i>
      	<div>{{structure.adresseTemp}}</div>
				<div ng-click="openMapLink(structure.latitude, structure.longitude)" class="ico ion-arrow-right-c"> {{'y_aller'|translate}}</div>
    </div>

    <div class="item item-icon-left"ng-show="structure.tel">
    	<i class="icon ion-ios-telephone"></i>
    	{{structure.tel}}
			<div ng-click="openPhoneLink(structure.tel)" class="ico ion-arrow-right-c"> {{'telephoner'|translate}}</div>
    </div>

    <div ng-click="openHrefLink('mailto:{{structure.email}}')" class="item item-icon-left" ng-show="structure.email">
    	<i class="icon ion-email"></i>
			{{structure.email}}<br/>
			<i class="ico ion-arrow-right-c">{{'ecrire'|translate}}</i>
    </div>
		
    <div ng-click="openHrefLink('{{::structure.url}}')" class="item item-icon-left item-text-wrap" ng-show="structure.url">
    	<i class="icon ion-arrow-right-b"></i>
    	<span ng-bind-html="structure.url"></span>
    </div>

    <a ng-click="openHrefLink('{{::structure.facebook}}')" class="item item-icon-left item-text-wrap" ng-show="structure.facebook">
    	<i class="icon ion-social-facebook"></i>
    	<span ng-bind-html="structure.facebook"></span>
    </a>
		
    <a ng-click="openHrefLink('{{::structure.googleplus}}')" class="item item-icon-left item-text-wrap" ng-show="structure.googleplus">
    	<i class="icon ion-social-googleplus"></i>
    	<span ng-bind-html="structure.googleplus"></span>
    </a>

    <a ng-click="openHrefLink('{{::structure.twitter}}')" class="item item-icon-left item-text-wrap" ng-show="structure.twitter">
    	<i class="icon ion-social-twitter"></i>
    	<span ng-bind-html="structure.twitter"></span>
    </a>

		<div ng-show="lstPhotos.length>0 && isNavigator">
		  <a class="item" ng-repeat="photo in lstPhotos" href="http://{{photo}}" target=_new>
			  <img src="http://{{photo}}" style="max-width:80%" />
		  </a>
		</div>
    <!--a class="item item-icon-left" ng-click="notimplemented = 'TODO'">
	    <i class="icon ion-compose"></i>
	    Votre avis {{notimplemented}}
  	</a-->

  </div>

  <div class="row">
	  <div class="col">Source : <i>{{structure.src}}</i></div>
  </div>

  <div nh-show="structure.debug" style="color:blue">{{'debug_mots_cles'|translate}} : {{structure.mots_cles}}
  <span ng-show="structure.adresseTemp==null"><br/>Pour ce lieu il n'y a pas de : adresseTemp</span>
  <span ng-show="structure.email==null"><br/>Pour ce lieu il n'y a pas de : email</span>
	<span ng-show="structure.url==null"><br/>Pour ce lieu il n'y a pas de : url</span>
	<span ng-show="structure.facebook==null"><br/>Pour ce lieu il n'y a pas de : facebook</span>
	<span ng-show="structure.googleplus==null"><br/>Pour ce lieu il n'y a pas de : googleplus</span>
	<span ng-show="structure.twitter==null"><br/>Pour ce lieu il n'y a pas de : twitter</span>
	</div>
      
  </ion-content>
</ion-view>