<ion-view view-title="Mieux trier à Nantes">

  <!--<ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>  -->
				
  <ion-content class="padding home">

  <div class="card" ng-show="collectmodsfilter==null">
  	<a class="button button-icon button-stable ion-alert-circled custom-btn-color" ng-href="#/tab/config"> {{'alert_collectmodsfilter'|translate}}</a>
  </div>
  
  <div class="card">

    <div class="item item-divider item-calm">{{'recherche'|translate}}</div>

    <div class="item item-input">
    <label class="item-input-wrapper">
      <input ng-model="searchkey"  type="text" placeholder="Ex : miroir, emmaüs, compostage">
    </label>
    <a class="button button-icon icon ion-search"></a>
    </div>

  </div>

  <div class="card news">

    <div class="item item-divider item-calm">Actualités</div>

    <div class="list">         
        <div class="item" ng-repeat="actu in ::news" ng-click="showInfo(actu.code)">            
            <span ng-bind-html="actu.nom"></span>
        </div>  
    </div>

  </div>
      
  </ion-content>
</ion-view>
