<ion-view view-title="{{'apropos'|translate}}">
 <ion-content class="has-footer">

  <div class="card">
    Applications Android, Iphone et site mieuxtrieranantes.fr pour aider les habitants de Nantes Métropole à trier.<br/>
    C'est un logiciel libre (code, photos, données) réalisé par l'association 'Mieux trier à Nantes'. Les membres de l'association sont Robin Caroff, Romain Debernardi, Antoine Jaury, Cédric Henrat, Catherine Le Lan, Vanessa Viavant, Christian Renoulin, Matthieu Weber.<br/>
    Le blog pour toutes les infos : <a href="javascript:void(0);" onclick="window.open('https://mieuxtrieranantes.wordpress.com', '_system', 'location=yes');">mieuxtrieranantes.wordpress.com</a><br/><br/>
    Les données sont toutes Open Data : retrouvez-les sur <A HREF="javascript:void(0);" onclick="window.open('https://www.mieuxtrieranantes.fr/opendata', '_system', 'location=yes');">www.mieuxtrieranantes.fr/opendata</A>
    <br/><br/>
    Réseaux sociaux :
    <a HREF="javascript:void(0);" onclick="window.open('https://www.facebook.com/pages/Mieux-trier-à-Nantes/266725983531595', '_system', 'location=yes');" title='Facebook'><IMG SRC='resources/icons/facebook.png' HEIGHT='28px' style='vertical-align:middle;'/></A>
    <A HREF="javascript:void(0);" onclick="window.open('https://plus.google.com/115672613214762676111/posts', '_system', 'location=yes');" ><IMG SRC='resources/icons/googleplus.png' HEIGHT='28px' style='vertical-align:middle;'/></A>
    <A HREF="javascript:void(0);" onclick="window.open('https://framasphere.org/people/b0e79dd0547701326e712a0000053625', '_system', 'location=yes');" ><IMG SRC='resources/icons/framasphere.png' HEIGHT='28px' style='vertical-align:middle;'/></A>
    <IMG SRC='resources/icons/twitter.png' HEIGHT='28px' style='vertical-align:middle;'/><font size='1'>@MieuxTrierANant</font>
    <br/><br/>
    Contacts :
    <i><a href="window.open('mailto:mieuxtrieranantes@gmail.com', '_system', 'location=yes');"><font size='2'>mieuxtrieranantes@gmail.com</font></a></i>
    <br/><br/>
    Amis (ils nous connaissent bien et nous soutiennent) : Oasis Environnement, Stations Services, Plus2Vers, Le Ressort (boutique solidaire des Dervallières), PP Plastic Pickup, Bout' à Bout', Collectif J'aime tes bocaux
  </div>
  <div class="card">
	<b>Nouveautés de la version {{version}}</b> : <br/>
    <span ng-bind-html="new_in_the_version" ng-show="new_in_the_version"></span>
  </div>
 </ion-content>
</ion-view>