<ion-view view-title="{{'trier'|translate}}">
  <ion-content>
   
  <!--
  <div class="row panneau_bouton" ng-repeat="dechet in ::dechets" ng-if="$index%3==0">      
      
      <div class="col card" ng-repeat="dechet in ::dechets | limitTo:3:$index">         
        <div class="item text-center">
            <a ng-href="#/tab/dechet/detail/{{::dechet.code}}">
            <img ng-src="resources/images/{{::dechet.image}}"/><br/>        
            </a>   
        </div>
        <a class="action text-center positive" ng-href="#/tab/dechet/detail/{{::dechet.code}}">
            {{'nom_translated'|translate:dechet}}
        </a>
      </div>
      
  </div>
  -->

<div class="card">

  <div class="item item-divider item-calm">
      {{'categorie'|translate}} &gt; {{'nom_translated'|translate:categorie}}
  </div>

  <div class="list">

      <a class="item item-avatar" ng-href="#/tab/dechet/detail/{{::dechet.code}}" ng-repeat="dechet in dechets">
        <img ng-src="resources/images/{{::dechet.image}}"/>
        {{'nom_translated'|translate:dechet}}
      </a>

  </div>

</div>
      
  </ion-content>
</ion-view>
