<ion-view view-title="{{'quiz'|translate}}">
	<ion-content class="padding">

		<span ng-show="descr_visible=='true'">{{quiz.descr}}</span>
		<div ng-show="question.indication" style='color:green'>{{quiz.indication}}</div>
		<br/><br/>
		<span ng-show="toggleObject[[$index]]>0" ng-repeat="question in quiz.questions" class="item mtn-nowrap">
			<div class='qheader' align="center">
				<img ng-src="resources/images/{{question.image}}" height='80px' />
				<br/>
				<div>{{question.descr}}</div>
				<div ng-show="question.indication" style='color:green'>{{question.indication}}</div>
			</div>
			<br/>
			
			<div class='qselections'>
			<!--<input ng-repeat="reponse in question.reponses" ng-model="" type="checkbox" text="{{reponse.descr}}" /> -->
			
				<span ng-repeat="reponse in question.reponses">
					<input type='checkbox' value='{{reponse.points}}' ng-model="reponses[$parent.$index][$index]"> {{reponse.descr}}
					<br/>
				</span>
				<button class="button button-block button-positive icon-right ion-chevron-right" ng-click="onSearchSubmit($index)">Question suivante.</button>
			</div>
		</span>
		
		<span ng-show="resultats_visible=='true'">
			<img ng-src="resources/images/{{resultats_image}}" height='100px' /><br/><span>{{resultats.descr}}</span>
			<div>Résultats : {{resultats_points}}<div/>
			<span ng-repeat="question in quiz.questions" class="item mtn-nowrap">
				{{question.descr}}<br/>
				<span ng-repeat="reponse in question.reponses">
					<div ng-show="reponse.selected" style="color:{{question.color}}">{{reponse.descr}}</div>
				</span>
				<div style='font-weight: bold;'">{{question.explication}}</div>
			</span>
		</span>
	</ion-content>
</ion-view>
		