<ion-view view-title="{{'carte_filtre'|translate}}">
  <ion-content>
    
  <div class="card">
  	<span class="button button-icon button-stable ion-alert-circled custom-btn-color" > La carte présente encore des dysfonctionnements.</span>
  </div>
  
  <div class="card">
    <div class="item item-divider item-calm">{{'carte_filter'|translate}}</div>

    <ion-checkbox ng-repeat="modeCollecteItem in tousModesDeCollecte" ng-model="modeCollecteItem.checked" ng-checked="modeCollecteItem.checked">
      <img src="{{modeCollecteItem.image}}" height="18px" /> {{modeCollecteItem.nom}}
    </ion-checkbox>

    <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="onSearchSubmit()">{{'carte_afficher'|translate}}</button>

  </div>

  </ion-content>
</ion-view>
