<ion-view view-title="{{'config'|translate}}">

 <ion-content>

	{{"langue_actuelle" | translate}}
	<button class="button button-light button-outline ion-settings"  ng-click="switchLanguage()">{{'change_language'|translate}}</button>
	<br/><br/>
	{{ collectmodsfilter | translate }}
	<button class="button button-light button-outline ion-settings" ng-click="modal.show()">{{'configurez_selon_votre_adresse'|translate}}</button>
	
	
	<br/><br/>

         <script id="nantes/modal-domicile.html" type="text/ng-template">
		      <ion-modal-view>
		        
		        <ion-header-bar class="bar bar-header bar-positive">
		          <h1 class="title">{{'configurez_selon_votre_adresse'|translate}}</h1>
		          <button class="button button-clear button-primary" ng-click="modal.hide()">{{'cancel'|translate}}</button>
		        </ion-header-bar>
		        
		        <ion-content class="padding">

		      <ion-radio ng-model="choice" ng-value="'B'" ng-click="selectAdress('modco_bacbleu,modco_bacjaune')">{{'jhabite_hors_nantes'|translate}}</ion-radio>
		      <ion-radio ng-model="choice" ng-value="'A'">{{'jhabite_nantes'|translate}}</ion-radio>

	
		      <div class="card" ng-show="choice=='A'">
			
				  	<div class="item item-divider item-calm">{{'donnez_votre_rue'|translate}}</div>
			
				  	<div class="item item-input">
				    	<label class="item-input-wrapper">
				     		<input ng-model="searchKey"  type="text" placeholder="{{'donnez_votre_rue_placeholder'|translate}}">
				    	</label>
				    	<a class="button positive button-icon icon ion-search" ng-click="onSearchSubmit(searchKey)"></a>
				  	</div>
			
				</div>
			
				<div class="card" ng-show="results.length > 0 && choice=='A'">
			
				  	<div class="item item-divider item-calm">{{'results'|translate}}<span ng-show="results.length > 0" ng-bind="'(' + (results.length) + ')'"></span>
				  	</div>
			
				  	<div class="item" ng-show="results.length == 0"> : {{'no_result'|translate}}</div>
			
				  	<div class="item item-button-right" ng-repeat="collecte in results | limitTo:maxDisplayResults">
				        {{::collecte.dcv}}<br>
				        <span ng-bind-html="collecte.jcbj"></span>
				        <button class="button button-stable" ng-click="selectAdress(collecte.mco)">
			      			<i class="ico ion-ios-checkmark-outline"></i>
			    		</button>
				  	</div>
			
				  	<div class="item item-assertive" ng-show="results.length > maxDisplayResults">
				  		{{'les_xx_premiers_results_affiches'|translate:translatevalues}}<br/>{{'affiner_recherche'|translate}}
			  		</div>
			
				</div>
		      
		        </ion-content>
		      </ion-modal-view>
		    </script>

   </ion-content>
</ion-view>
