<ion-view view-title="{{'lieux'|translate}}" hide-back-button="true">
  
  <ion-content>
  

<div class="card">

  <div class="item item-divider item-calm">{{'recherche'|translate}}</div>

  <div class="item item-input">
  <span class="input-label">{{'objet'|translate}} / {{'nom'|translate}}</span>
    <label class="item-input-wrapper">
      <input ng-model="formParam.searchkey"  type="text" placeholder="{{'lieux_placeholder'|translate}}" ng-keyup="$event.keyCode == 13 && onSearchSubmit()">
    </label>
    <a class="button positive button-icon icon ion-search" ng-click="onSearchSubmit()"></a>
  </div>


  <div class="typelieu item item-icon-right item-input" ng-click="selectTypeLieuPopup()">
      <span class="input-label">{{'types_de_structure'|translate}}</span> 
      <label class="item-input-wrapper">{{ formParam.type.nom }}</label>
      <a class="button positive button-icon icon ion-arrow-down-b" ng-click=""></a>
  </div>

</div>

<div class="card">

  <div class="item item-divider item-calm">{{'results'|translate}} <span ng-show="results.length > 0" ng-bind="'(' + (results.length) + ')'"></span></div>

  <div class="item" ng-show="results.length == 0">{{'no_result'|translate}}</div>

  <a class="item" ng-repeat="structure in results | limitTo:maxDisplayResults | orderBy:'distance'" ng-href="#/tab/lieu/detail/{{::structure.code}}">
        {{::structure.nom}} <br>
        <span style="color:#666">{{::structure.type}}</span>
        <mtn-plage-horaire class="horaire" plagehoraire="{{::structure.plagesHoraires}}"></mtn-plage-horaire>   
  </a>

  <div class="item item-assertive" ng-show="results.length > maxDisplayResults">
     {{'les_xx_premiers_results_affiches'|translate:translatevalues}}<br>{{'affiner_recherche'|translate}}
  </div>

</div>


  
  </ion-content>
    
</ion-view>

<!-- TODO -->
<!-- 

- Bouton RESET pour le champ de recherche mot-clé 
- Page détail Lieu + Horaires en clair


-->