<ion-view view-title="Déchets">
  <ion-content>
   
  <div class="row panneau_bouton" ng-repeat="dechet in ::dechets" ng-if="$index%3==0">      
      
      <div class="col card" ng-repeat="dechet in ::dechets | limitTo:3:$index">         
        <div class="item text-center">
            <a ng-href="#/tab/dechet/detail/{{::dechet.code}}">
            <img ng-src="resources/images/{{::dechet.image}}"/><br/>        
            </a>   
        </div>
        <a class="action text-center positive" ng-href="#/tab/dechet/detail/{{::dechet.code}}">
            {{::dechet.nom}}
        </a>
      </div>
      
  </div>
      
  </ion-content>
</ion-view>
