<ion-view view-title="{{'fiches'|translate}}" hide-back-button="true">
 <ion-content>

  <!-- one time binding sur fiches -->
  <!-- Cf http://blog.thoughtram.io/angularjs/2014/10/14/exploring-angular-1.3-one-time-bindings.html -->
  <div class="card fiches">

    <div class="list">         
        <a class="item item-thumbnail-left" ng-href="#/tab/fiches/detail/{{::fiche.code}}" ng-repeat="fiche in ::fiches">           
            <img ng-src="resources/images/{{::fiche.image}}"/>
            {{'nom_translated'|translate:fiche}}
        </a>    
    </div>

  </div>
      
  </ion-content>
</ion-view>
