<ion-view view-title="{{'nom_translated'|translate:dechet}}">
  <ion-content class="has-footer">

  <div class="list card">
    <div class="item item-divider item-calm">
      	 {{'nom_translated'|translate:dechet}}
    </div>
		
		<div class="item item-thumbnail-left" href="#">
      <img ng-src="resources/images/{{ dechet.image }}">
      <h2 class="mtn-nowrap">{{'recyclable'|translate}} : <font color='{{dechet.recyc_color}}'><b>{{dechet.recyc2|translate}}</b></font></h2>
    </div>

		<div class="item item-divider">
        {{'modes_de_collecte'|translate}}
		</div>

    <span ng-repeat="modeDeCollecte in modesDeCollecte">
			<a class="item mtn-nowrap">
        <div ng-click="toggleObject[[$index]] = -(toggleObject[[$index]])">
					<img ng-src="resources/images/{{::modeDeCollecte.image}}" style="max-width:30px" />
	        {{'nom_translated'|translate:modeDeCollecte}}
				</div>
        <div class="description" class="mode-collecte-info" ng-show="toggleObject[[$index]]>0" ng-click="toggleObject[[$index]] = -(toggleObject[[$index]])">
          <p ng-bind-html="modeDeCollecte.descr" class="mtn-nowrap" ng-show="currentlanguage=='fr'||!currentlanguage"></p>
					<p ng-bind-html="modeDeCollecte.descr_en" class="mtn-nowrap" ng-show="currentlanguage=='en'"></p>
        </div>
			</a>
			<a ng-href="#/tab/fiches/detail/{{::modeDeCollecte.colFiches}}" ng-show="toggleObject[[$index]]>0 && modeDeCollecte.colFiches">
				> {{'plus_d_infos_sur'|translate}} : {{'nom_translated'|translate:modeDeCollecte}}
			</a>
    </span>

  	<div class="item item-divider mtn-nowrap">
        <b>{{'concerne_aussi'|translate}}</b> : {{'descr_translated'|translate:dechet}}
		</div>
	</div>
	
	 <div class="list card" ng-show="conseils.length>0">

    <div class="item item-divider item-calm">{{'informations'|translate}}</div>

    <div class="item item-icon-left" ng-repeat="conseil in conseils">
      <i class="icon ion-information-circled"></i>
      <h2 class="mtn-nowrap">{{'nom_translated'|translate:conseil}}</h2>
			<p class="mtn-nowrap">
				<span ng-bind-html="conseil.descr" ng-show="currentlanguage=='fr'||!currentlanguage"></span>
			  <span ng-bind-html="conseil.descr_en" ng-show="currentlanguage=='en'"></span>
				<span ng-show="false">{{'descr_translated'|translate:conseil}}</span><br/>
				<a ng-show="conseil.fiche" ng-href="#/tab/fiches/detail/{{::conseil.fiche}}">{{'plus_d_infos'|translate}}</a>
			</p>
    </div>

     <a class="item item-icon-left item-calm" ng-click="notimplemented = 'TODO'" ng-show="false">
      <i class="icon ion-compose"></i>
      Votre avis {{notimplemented}}
    </a>

  </div>

  <div class="row" ng-show="dechet.src!=null">
    <div class="col">Source : <i>{{dechet.src}}</i></div>
  </div>

    <div class="item item-icon-left item-text-wrap" ng-show="dechet.sponsor!=null">
    	<i class="icon ion-heart"></i>
    	<div>Cette ressource est parrainée par le donateur KissKissBankBank : <i><b>{{dechet.sponsor}}</b></i></div>
    </div>
		
<!--
  <div>    
      <a class="item item-thumbnail-left" href="#">
      <img ng-src="resources/images/{{ dechet.image }}">
      <h2><b>{{'nom_translated'|translate:dechet}}</b></h2><br/>
      Recyclable : <font color='{{dechet.recyc_color}}'><b>{{dechet.recyc}}</b></font>
      </a>

      <p><b>{{'modes_de_collecte'|translate}}</b></p>     
      <div class="mode-collecte" ng-repeat="modeCollecte in modesCollecte" ng-click="toggleObject.item = $index">
          <img style="width:1.5em" ng-src="resources/images/{{ modeCollecte.image }}"/> {{ modeCollecte.nom }}<br/>
          <div class="description" ng-show="toggleObject.item == $index" class="mode-collecte-info">            
              <p ng-bind-html="modeCollecte.descr"></p>
          </div>
      </div>
        
	<p><b>Conseils </b></p>
    <div class="conseil" ng-repeat="conseil in conseils" ng-click="toggleObject2.item2 = $index">
    	{{ conseil.nom }}<br/>
          <div class="description" class="conseil-info">
              <p ng-bind-html="conseil.descr"></p>
          </div>
          <a ng-if="conseil.fiche" ng-href="#/tab/fiches/detail/{{::conseil.fiche}}" class="selectable style_bouton">Plus d'infos</a>
      </div>
      
    
       
      <p><b>Source :</b> {{dechet.src}}</p>
        
  </div>

  -->
      
  </ion-content>
</ion-view>
