<ion-view view-title="{{'carte_filtre'|translate}}">
  <ion-content class="has-footer">
  
  <div class="card">
    <div class="item item-divider item-calm">{{'carte_filter'|translate}}</div>

    <ion-checkbox ng-repeat="modeCollecteItem in tousModesDeCollecte" ng-model="modeCollecteItem.checked" ng-checked="modeCollecteItem.checked" style="padding-top:5px;padding-bottom:5px;">
      <img src="{{modeCollecteItem.image}}" height="18px" /> {{modeCollecteItem.nom}}
    </ion-checkbox>

    <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="onSearchSubmit()">{{'carte_afficher'|translate}}</button>

  </div>

  </ion-content>
</ion-view>
