<ion-view view-title="{{'apropos'|translate}}">
 <ion-content class="has-footer">

  <div class="card">
    Applications Android, Iphone et site pour <b>aider les habitants de L'Ernée / Bocage Mayennais à trier.</b><br/>
    Cette application est réalisée par Christian Renoulin. Elle s'appuie sur le logiciel libre "Mieux trier" (code, photos, données) réalisé par l'association 'Mieux trier à Nantes'.<br/>
    <br/><br/>
    Contacts :
    <i><a href="window.open('mailto:mieuxtrieranantes@gmail.com', '_system', 'location=yes');"><font size='2'>mieuxtrieranantes@gmail.com</font></a></i>
    <br/><br/>
  </div>
  
 </ion-content>
</ion-view>