# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib
mtn.sublime-project
mtn.sublime-workspace
prepare/nantes/resources/android/icon/
prepare/nantes/resources/android/splash/
prepare/nantes/resources/ios/icon/
prepare/nantes/resources/ios/splash/
config.xml