# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib
mtn.sublime-project
mtn.sublime-workspace
resources/android/icon/
resources/android/splash/
resources/ios/icon/
resources/ios/splash/