<ion-view view-title="{{'trisac'|translate}}">
  <ion-content class="has-footer">
   
  <div class="list card">

    <div class="item item-divider">
      <b>{{detail.type}}</b>
    </div>

    <div class="item item-icon-left">
      <i class="icon ion-information-circled"></i>
      <div>{{'nom_translated'|translate:detail}}</div>
      <div>{{detail.adresseTemp}}</div>
      <mtn-plage-horaire class="horaire" plagehoraire="{{::detail.plagesHoraires}}" horaire="{{::detail.horaires}}" fulldisplay="1"></mtn-plage-horaire> 
    </div>

    <div class="item item-icon-left" ng-repeat="conseil in detail.cons">
      <i class="icon ion-information-circled"></i>
      <h2 class="mtn-nowrap">{{'nom_translated'|translate:conseil}}</h2>
			<p class="mtn-nowrap">
				<span ng-bind-html="conseil.descr" ng-show="currentlanguage=='fr'||!currentlanguage"></span>
				<span ng-bind-html="conseil.descr_en" ng-show="currentlanguage=='en'"></span>
			</p>
			<span ng-show="false">{{'descr_translated'|translate:conseil}}</span>
    </div>
    
    <div class="item item-icon-left item-text-wrap" ng-show="detail.adresseTemp">
      	<i class="icon ion-home"></i>
      	<div>{{detail.adresseTemp}}</div>
				<div ng-click="openMapLink(detail.latitude, detail.longitude)" class="ico ion-arrow-right-c"> {{'y_aller'|translate}}</div>
    </div>

    <div class="row" ng-show="dechet.src!=null">
      <div class="col">Source : <i>{{detail.src}}</i></div>
    </div>

  </div>
      
  </ion-content>
</ion-view>
