<ion-view view-title="{{'companiesadvices_title'|translate}}">
 <ion-content>

  <div class="card">
    <div class="item item-divider mtn-nowrap">{{'companiesadvices_intro'|translate}}</div>
     <div class="card" ng-repeat="(key, value) in allzerodechet | groupBy: 'type'">
       <div class="item item-divider item-calm">{{key|translate}}</div>
       <div class="item item-thumbnail-left mtn-nowrap" ng-repeat="item in ::value" ng-click="toggleObject[[$parent.$index]][[$index]] = -(toggleObject[[$parent.$index]][[$index]])">
         <img ng-src="resources/images/{{::item.image}}" style="max-height:70px;" />
         {{'nom_translated'|translate:item}}<br/>
         <span style="color:#666" class="mtn-nowrap">{{'resume_translated'|translate:item}}</span>
         <div ng-show="toggleObject[[$parent.$index]][[$index]]>0">
				       <span ng-bind-html="item.descr" ng-show="currentlanguage=='fr'||!currentlanguage"></span>
				       <span ng-bind-html="item.descr_en" ng-show="currentlanguage=='en'"></span>
       </div>
    </div>
  </div>
      
  </ion-content>
</ion-view>