<ion-view view-title="{{'trisac'|translate}}">
 <ion-content>

<!--
<div class="list">

    <div class="item item-divider item-royal">
    Vos favoris
    </div>

    <li class="item">
      <i>Aucun favori</i>
    </li>

</div>
-->


<div class="card" ng-repeat="(key, value) in trisac | groupBy: 'sous_zone'">

    <!-- TODO : NOM QUARTIER ? -->
    <div class="item item-divider item-calm">
      {{'quartier'|translate}} : {{key|translate}}
    </div>

    <!-- TODO : DETAIL TRISAC --> 
    <a class="item" ng-repeat="item in value" ng-href="#/tab/trisac/detail/{{::item.code}}">
          {{::item.type}}<br/>
          {{'nom_translated'|translate:item}}

          <mtn-plage-horaire class="horaire" horaire="{{::item.plagesHoraires}}"></mtn-plage-horaire>         
    </a>

</div>


  </ion-content>
</ion-view>