/* Empty. Add your own CSS if you like */


/* HOME */

ion-content.home {

    background: url('../img/bghome3.jpg') no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */

}

ion-content.home .news .item {

    font-size: 90%;

}

.bar .title {

    text-align: left;

}

.mode-collecte {

    background-color: #F7F9E3;
    padding:0.2em;
    margin:0.4em 0em;
    margin-left:1em;
}

.mode-collecte .description {
    padding-top: 0.2em;
    padding-left: 0.8em;
    color:#555;
}

/* HACK : la description contient des images, des BR et c'est moche : on ne les affichent pas => à enlever des DATA !!! */
.mode-collecte .description img {

    display: none;
}

.mode-collecte .description br {
    height: 0.1em;
}

.conseil {

    background-color: #c6deff;
    padding:0.2em;
    margin:0.4em 0em;
    margin-left:1em;
}

.conseil .description {
    padding-top: 0.2em;
    padding-left: 0.8em;
    color:#555;
}

/* HACK : la description contient des images, des BR et c'est moche : on ne les affichent pas => à enlever des DATA !!! */
.conseil .description img {

    display: none;
}

.conseil .description br {
    height: 0.1em;
}

/* GRILLE 3 cellules par ligne */

.card.dechet-categorie {
    box-shadow:none;
    
}

.panneau_bouton {
    padding: 5px;
    padding-bottom: 0px;
}

/* Image adaptative pour les résolutions faibles */
.panneau_bouton img {
    max-width: 100%;
    max-height: 60px;
}

.panneau_bouton .card {
    margin: 2px 2px;
}

.panneau_bouton .card .action {
    padding: 6px;
}

.panneau_bouton .card .item {

    padding:6px;
}

.panneau_bouton  .col {

    padding: 0em;

}

.panneau_bouton a.button {
	text-decoration:none;
    display:inline-block; 
    width:100%;
    line-height: 1em;
    min-height: 20px;
    font-size: 95%;
    background: #888;
    color:#fff;
    margin:0em;
    padding:10px;
    font-weight: bold;
}

.horaire {

    color:#37A811;


}

/* FICHES */

.fiches .item-thumbnail-left {
    min-height: 70px;
}

.fiches .item-thumbnail-left > img:first-child {

    max-width: 50px;
    max-height: 50px;
}

/* CARTE */

.carte .bar-subheader {
    top: 0px!important;
    height: 44px;
}

.carte .wrapper-map{
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 5px;
}

.carte .wrapper-map .button-center{
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
}


/* UI SELECT DROPDOWN */


/* Hack poour que la liste déroulante */
.selectize-dropdown {

    position: relative;
}

/* HACKS MTN */

.item.mtn-nowrap, .mtn-nowrap {
    white-space:normal !important;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.custom-btn-color {
    color: red !important;
    animation: blink 5s;
    animation-iteration-count: infinite;
}

.typelieu .item-input-wrapper {

  background: #eee;
  font-size: 90%;
  padding: 0.4em;
  cursor: pointer;
}

.popup-lieu .popup {

   width:270px; 

}

.checkbox input:checked::before, .checkbox input:checked + .checkbox-icon::before {
    background: #9DCC3F;
    border-color: #9DCC3F;
}