/* Empty. Add your own CSS if you like */


.mode-collecte {
    
    background-color: #F7F9E3;
    padding:0.2em;
    margin:0.4em 0em;
    margin-left:1em;
}

.mode-collecte .description {
    padding-top: 0.2em;
    padding-left: 0.8em;
    color:#555;
}

/* HACK : la description contient des images, des BR et c'est moche : on ne les affichent pas => à enlever des DATA !!! */
.mode-collecte .description img {
    
    display: none;
}

.mode-collecte .description br {
    height: 0.1em;
}

.conseil {
    
    background-color: #c6deff;
    padding:0.2em;
    margin:0.4em 0em;
    margin-left:1em;
}

.conseil .description {
    padding-top: 0.2em;
    padding-left: 0.8em;
    color:#555;
}

/* HACK : la description contient des images, des BR et c'est moche : on ne les affichent pas => à enlever des DATA !!! */
.conseil .description img {
    
    display: none;
}

.conseil .description br {
    height: 0.1em;
}

.panneau_bouton  {
	background-color:#dfe78f
}


.panneau_bouton a {
	text-decoration:none;
}
 .selectable.style_bouton {
        display:inline-block; 
        width:30%;
        border:1px solid #dfe78f;
        text-align: center;
        background-color: #f7f9e3;
 }